<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eattogether_neep">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <meta-data android:name="com.kakao.sdk.AppKey" android:value="1e3f2edd468aa680cbab78f9e13d7389"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.eattogether_neep.UI.Activity.LaunchActivity"></activity>
        <activity android:name="com.example.eattogether_neep.UI.Activity.RankingActivity" />
        <activity android:name="com.example.eattogether_neep.UI.Activity.EmotionAnalysisActivity" />
        <activity android:name="com.example.eattogether_neep.UI.Activity.WaitingActivity" />
        <activity android:name="com.example.eattogether_neep.UI.Activity.PreferenceCheckActivity" />
        <activity android:name="com.example.eattogether_neep.UI.Activity.MakeUrlActivity" />
        <activity android:name="com.example.eattogether_neep.UI.Activity.JoinActivity" />
        <!--<activity android:name="com.example.eattogether_neep.UI.Activity.MapActivity" />-->
        <activity android:name="com.example.eattogether_neep.UI.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>